body {
	background:#999;
	font-family: arial;
	color:white;
}

h1,h2 {
	text-align: center;
	color: #339;
}

a{
	color: #222;
	font-family:sans-serif;//element
}

p{
	background: #666;
	color: white;
	padding: 10px 2px;
}

.secondary{//id
	background: none;
	color:rgb(231,31,142);
}

.nice{
	font-family: fantasy;
}

#special{
	background: none;
	color:rgb(1,122,221);
}

*{
	font-family: fantasy;

}
li p{
	font-family: sans-serif red;
}