
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:20px;
}

body {
  min-width: 350px;
 /* overflow-x: hidden;*/

/*background-image: url("blue1.png");*/
background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.3)), url("../img/abstract.jpg");

  background-position: top center;

  background-attachment: fixed;
  
  background-size: cover;
  

  /*background-repeat: no-repeat;*/
}

span.welcome_message{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  font-weight: bold;
}


#logo{
  position: fixed;
  top:0px;
  left:0px;
}

.header-right {
  float: right;
}

.header {
  overflow: hidden;
 background-image: linear-gradient(to right, white , lightblue);

}

.header a {
  
  float: left;
  color: black;
  text-align: center;
  padding: 12px;


}

.header .header-right a:hover {
  background-color: #3e56b5;
  color: white;
  transition: 0.5s ease;
}



.header-right{

margin-top: 0.5%;
}

.rss-feed{
  width:10%;
  position:absolute;
  right:0vw;
}

.topnav {
  overflow: hidden;

}

.topnav .search-container {
     left: 25%;
}

#search-by-name {
  padding: 10px;
  font-size: 17px;
  border:1px solid #4A8FE1;
<<<<<<< HEAD
  width: 42%;
=======
  width: 40%;
>>>>>>> 91b1c49fc81661ecee48688ae9983caf97121b99
  font-style: oblique;
  background: linear-gradient(155deg,#B0C1E3,#82A7F1,#3498db);
  float:left;
  border-radius: 50px;
  margin: 0px 1%;
}

<<<<<<< HEAD
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;

}

#search-by-name[type=text] {
  background-color: #f1f1f1;
  width: 40%;
}

.autocomplete-items {
  position: absolute;
  margin: auto;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  width: 42%;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

=======
>>>>>>> 91b1c49fc81661ecee48688ae9983caf97121b99
#website,#order,#duration{
  padding: 10px;
  font-size: 17px;
  border:1px solid #4A8FE1;
  width: 12%;
  font-style: oblique;
  background: linear-gradient(155deg,#B0C1E3,#82A7F1,#3498db);
  float:left;
  border-radius: 50px;
  margin: 0px 1%;
}

.video{
  display: flex;
  margin: auto;
  width: 100%;
  margin-bottom: 10px;
}

.Thumbnail{
  flex:1;
}

.videoThumbnail{
  margin: auto;
  width: 100%;
  padding: 10px;
}
.videoData{
  overflow-wrap: break-word;
  margin: auto;
  flex:3;
  width: 65%;
  padding: 10px;
}

.topnav .search-container button {
  
    color: white;
    border : 1px solid #387FD5;
    border-radius: 50px;
    background-color: #387FD5;
    cursor: pointer;
    font-size: 17px;
    padding: 8.2px;
    width: 10%;
    border-left: none;
    margin: 0px 1%;
    float: left;
 


}


.topnav .search-container button:hover {
  color: white;
  background: #3e56b5;
  transition: 0.5s ease;

}

.description-checkbox{
  position: relative;
  left:0%;
  font-size:1vw;

}
.criteria{
  position:relative;
  width: 20%;
  height: auto;
  display: flex; 
}

.critera hover {


  background: black;
}

.criteria{
  position:relative;
  width: 100%;
  height: auto;
  display: flex

}

.order-criteria{
  position:relative;
  margin-top:5%;
  left:5%;
  width: 100%;
}

.order-option{
  font-size: 1vw;
}


.author-input{
background-color: #387FD5;
border-color:#82A7F1;
  border-radius: 5px;}

.author-criteria{
  position: relative;
  margin-top:5%;
  left:5%;
  width: 30%;
}

.author-criteria #author-text{
  margin-left:0%;
  font-size:1vw;
}

::placeholder {
  color: black;
  opacity: 1; 
}

.sources{
  bottom:0px;
  display: flex;
  width: 100%;

}

#insta{
  display: block;
    max-width: 100%;
    position: absolute;
    bottom:0;
    left:15%;
    transform:translateX(-50%);
    margin:auto;
}

#yt{
  display: block;
    max-width: 100%;
    position: absolute;
    bottom:0;
    left:40%;
    transform:translateX(-50%);
    margin:auto;
}

#vimeo{display: block;
  max-width: 100%;
  position: absolute;
  bottom:0;
  left:75%;
    margin:auto;

  transform:translateX(-50%);
}

#rssFloatingButton{
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f5a001;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

<<<<<<< HEAD
#rssFloatingButton:hover {
  background-color: #c98405;
}

#csvFloatingButton{
  /* display: none; */
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0e910a;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}
=======
.content{
  min-height:100%;
   position:relative;
}

#footerCard{
  position:absolute;
   bottom:0;
   width:100%;
   height:20%;
   background: black;
}
   
>>>>>>> 91b1c49fc81661ecee48688ae9983caf97121b99

#csvFloatingButton:hover {
  background-color: #056302;
}

#floatingButton {
  display: none;
  position: fixed;
  bottom: 140px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #3e56b5;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#floatingButton:hover {
  background-color: #3498db;
}
#homeFloatingButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #3e56b5;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#homeFloatingButton:hover {
  background-color: #3498db;
}

@media screen and (max-width: 1100px){

   .sources{
    display: inline-block;
    left:25%;
  }
}

@media screen and (max-width: 500px) {


  video{
    display: block;
  }

  .Thumbnail{
    /* flex:1; */
    width: 100%;
  }

  .videoData{
    width: 100%;
    /* flex:1; */
    font-size:1vw;
  }

  .searchField{
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 10px !important;
  }

  .sources{
    position: relative;
    display: inline-block;
    left: 0px;
  }

  #submit-button{
    display: block;
    max-width: 150px;
    float: left !important;
  }
    

   #insta{
      transform:translateX(0%);
      position: relative;
      left:0;
      text-align: center;
    }

    #insta_img {
      width: 30%;
    }

    #yt_img{
      width: 30%;
    } 
    #vimeo_img{
      width: 30%;
    }

    #yt{
      transform:translateX(0%);
      position: relative;
      left:0;
      text-align: center;
    }

    #vimeo{
      transform:translateX(0%);
      position: relative;
      left:0;
      text-align: center;
    }


    .header a {
      float: none;
      display: block;
      text-align: left;
      font-size: 15px;
    }
    .header-right {
      float: none;
    }

    .search_text{
      text-decoration: none;
      font-size: 15px;
      width: 15%;
    }


    .topnav .search-container {
      float: none;

    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: center;
      font-size: 3.5vw;
      width: 20%;
      margin: 0px 1%;
      padding:1vw;


    }
    .topnav input[type=text] {
      border: 1px solid #ccc; 
      /*font-size: 5vw; */
    }

  .description-checkbox{
      left:35%;
      font-size:3vw;
  }

  .criteria{
    width: 100%;
    text-align: center;
    display: inline-block;
    left:0px;
    }
    
    .author-criteria{
    text-align: center;
    position:relative;
    margin-top:5%;
    left:30.5%;
    width: 40%;
  }

  .author-criteria #author-text{
    margin-left:0%;
    font-size:4.5vw;
  }

  .order-criteria{
    position:relative;
    margin-top:5%;
    left:0%;
    width: 100%;
  }

  .order-option{
    font-size: 4.5vw;
  }

  .order-criteria #tags-text{
    margin-left:0%;
    width:23%;
    font-size:4.5vw;
  } 
}

div.topnav{
    background: #fff;
    margin-top: 20px;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}

div.searchBox{
  width: 100%;
  min-height: 40px;
  display: block;
}

div.videosBox{
  width: 95%;
  background: #fff;
  min-height: 380px;
  display: none;
  margin: 0px auto;
  border-radius: 20px;
  padding: 20px;
<<<<<<< HEAD
  margin-bottom: 40px;
=======
>>>>>>> 91b1c49fc81661ecee48688ae9983caf97121b99
}

div.loadingVideos{
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}


/* -------------Modal-------------- */

div.modal{
  background: #0000006b;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  position: fixed;
  z-index: 100;
}

.modalContent{
  width: 96%;
  margin: 1% auto;
  min-height: 400px;
  background: #fff;
  position: relative;
  height: 96%;
<<<<<<< HEAD
  border: 2px white;
  border-radius: 30px;
=======
>>>>>>> 91b1c49fc81661ecee48688ae9983caf97121b99
}

#closeModal{
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 3px 10px;
  background: #e95555;
  color: #fff;
  border: 0px;
  border-radius: 5px;
}

.modalVideosContent{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


.video{
  display: flex;
  margin: auto;
  width: 100%;
  margin-bottom: 10px;
}

.Thumbnail{
  flex:1;
  cursor: pointer;
}

.videoThumbnail{
  margin: auto;
  width: 100%;
  padding: 10px;
}
.videoData{
  overflow-wrap: break-word;
  margin: auto;
  flex:3;
  width: 65%;
  padding: 10px;
}
