
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:1.5vw;
}

body {
  min-width: 350px;
 /* overflow-x: hidden;*/

/*background-image: url("blue1.png");*/
background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.3)), url("../img/abstract.jpg");

  background-position: top center;

  background-attachment: fixed;
  
  background-size: cover;
  

  /*background-repeat: no-repeat;*/
}

span.welcome_message{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  font-weight: bold;
}


#logo{
  position: fixed;
  top:0px;
  left:0px;
}

.header-right {
  float: right;
}

.header {
  overflow: hidden;
 background-image: linear-gradient(to right, white , lightblue);

}

.header a {
  
  float: left;
  color: black;
  text-align: center;
  padding: 12px;


}

.header .header-right a:hover {
  background-color: #3e56b5;
  color: white;
  transition: 0.5s ease;
}



.header-right{

margin-top: 0.5%;
}

.rss-feed{
  width:10%;
  position:absolute;
  right:0vw;
}

.topnav {
  overflow: hidden;

}

.topnav .search-container {
     left: 25%;
}

.topnav input[type=text] {
  padding: 10px;
  font-size: 17px;
  border:1px solid #4A8FE1;
  width: 80%;

  font-style: oblique;
    background: linear-gradient(155deg,#B0C1E3,#82A7F1,#3498db);
  /*   background: linear-gradient(to right, #e0ebeb , #73a5a5);*/
    float:left;
      border-radius: 50px;

 
 
}




.topnav .search-container button {
  
    color: white;
    border : 1px solid #387FD5;
    border-radius: 50px;
    background-color: #387FD5;
 /*     background: linear-gradient(to right, lightblue , #73a5a5);*/
    cursor: pointer;
    font-size: 17px;
    padding: 8.2px;
    width: 20%;
    border-left: none;
    float: left;
 


}


.topnav .search-container button:hover {
  color: white;
  background: #3e56b5;
  transition: 0.5s ease;

}

.description-checkbox{
  position: relative;
  left:0%;
  font-size:1vw;

}
.criteria{
  position:relative;
  width: 20%;
  height: auto;
  display: flex; 
}

.critera hover {


  background: black;
}

.criteria{
  position:relative;
  width: 100%;
  height: auto;
  display: flex

}

.order-criteria{
  position:relative;
  margin-top:5%;
  left:5%;
  width: 100%;
}

#order{
  font-size: 1vw;
  background: linear-gradient(155deg,#B0C1E3,#82A7F1,#3498db);
  border-radius: 5px;
  border-color:#82A7F1;

}

.order-option{
  font-size: 1vw;
}


.author-input{
background-color: #387FD5;
border-color:#82A7F1;
  border-radius: 5px;}

.author-criteria{
  position: relative;
  margin-top:5%;
  left:5%;
  width: 30%;
}

.author-criteria #author-text{
  margin-left:0%;
  font-size:1vw;
}

::placeholder {
  color: black;
  opacity: 1; 
}

.sources{
  bottom:0px;
  display: flex;
  width: 100%;

}

#insta{
  display: block;
    max-width: 100%;
    position: absolute;
    bottom:0;
    left:15%;
    transform:translateX(-50%);
    margin:auto;
}

#yt{
  display: block;
    max-width: 100%;
    position: absolute;
    bottom:0;
    left:40%;
    transform:translateX(-50%);
    margin:auto;
}

#vimeo{display: block;
  max-width: 100%;
  position: absolute;
  bottom:0;
  left:75%;
    margin:auto;

  transform:translateX(-50%);}




@media screen and (max-width: 1100px){

   .sources{
    display: inline-block;
    left:25%;
  }
}

@media screen and (max-width: 500px) {

    .sources{
      position: relative;
      display: inline-block;
      left: 0px;
    }

    #submit-button{
    display: block;
    max-width: 150px;
    margin: auto;
  }
    

   #insta{
      transform:translateX(0%);
      position: relative;
      left:0;
      text-align: center;
    }

    #insta_img {
      width: 30%;
    }

    #yt_img{
      width: 30%;
    } 
    #vimeo_img{
      width: 30%;
    }

    #yt{
      transform:translateX(0%);
      position: relative;
      left:0;
      text-align: center;
    }

    #vimeo{
      transform:translateX(0%);
      position: relative;
      left:0;
      text-align: center;
    }


    .header a {
      float: none;
      display: block;
      text-align: left;
      font-size: 15px;
    }
    .header-right {
      float: none;
    }

    .search_text{

       text-decoration: none;
    font-size: 15px;
    width: 15%;
    }


    .topnav .search-container {
      float: none;

    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: center;
      font-size: 3.5vw;
      width: 100%;
      margin: 0;
      padding:1vw;


    }
    .topnav input[type=text] {
      border: 1px solid #ccc; 
      font-size: 5vw; 
    }

  .description-checkbox{
      left:35%;
      font-size:3vw;
  }

  .criteria{
    width: 100%;
    text-align: center;
    display: inline-block;
    left:0px;
    }
    
    .author-criteria{
    text-align: center;
    position:relative;
    margin-top:5%;
    left:30.5%;
    width: 40%;
  }

  .author-criteria #author-text{
    margin-left:0%;
    font-size:4.5vw;
  }

  .order-criteria{
    position:relative;
    margin-top:5%;
    left:0%;
    width: 100%;
  }

  #order{
    font-size: 4.5vw;
  }

  .order-option{
    font-size: 4.5vw;
  }

  .order-criteria #tags-text{
    margin-left:0%;
    width:23%;
    font-size:4.5vw;
  } 
}

div.modal{
  background: #0000006b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.modalContent{
  width: 80%;
  margin: 30px auto;
  margin-top: 70px;
  min-height: 400px;
  background: #fff;
  border-radius: 20px;
}
