* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  }

  table{
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      border: 5px solid lightgrey;
      border-radius: 20px;
      padding:2px;
      border-spacing:20px; 
      overflow-x:auto;
  }
  
 td,th {
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 20px;
    text-align:center
  }
  
  
  tr:hover {background-color: black;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3498db;
    color: black;
  }

  #manage_users{
      margin-top:5%;
      width: 100%;
      text-align: center
  }

  form{
    display: inline-block;
    text-align: center;
    align-items: center;
       
  }

  #username_input {
  height: 30px;
  padding: 5px 10px;
  font-size: 1.5vw;
  border-radius: 5px;
  border: 2px solid gray;
  background-image: linear-gradient(to right, lightblue , white);
  }

  #deleteBtn, #promoteBtn, #demoteBtn {
    margin-top: 5%;
    padding: 5px 10px;
    padding-right:13px;
    font-size: 1vw;
    color: white;
    background: #3498db;
    border: none;
    border-radius: 5px;
  }
  
  #deleteBtn:hover, #promoteBtn:hover, #demoteBtn:hover {
    background-color: #3e56b5;
    color: white;
    transition: 0.5s ease;
  }
  
  @media screen and (max-width: 500px){

    #deleteBtn, #promoteBtn, #demoteBtn{
        font-size: 4vw;
    }

    table, thead, tbody, th, td, tr { 
		display: block; 
	}
    
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
    td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "Userame"; }
	td:nth-of-type(3):before { content: "Email"; }
    td:nth-of-type(4):before { content: "Admin"; }
    td:nth-of-type(5):before { content: "Updated at"; }
    td:nth-of-type(6):before { content: "Created at"; }
	
}