
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-decoration: none;
  font-family:'Times New Roman', Times, serif;
	font-size:36px;
}

body {
  min-width: 350px;
  overflow-x: hidden;

  background:linear-gradient(233deg,#3179A8, #2930c6, #3179A8);

  background-position: center center;

  background-attachment: fixed;
  
  background-size: cover;
  
  background-color: #464646;

  background-repeat: no-repeat;
}


/* #logo{
	position: fixed;
	top:0px;
	left:0px;
} */


.header {
  overflow: hidden;
  padding: 20px 10px;
}

.header a {
  
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: blink;
  font-size: 17px;
  line-height: 25px;
  border-radius: 4px;

}

.header a:hover {
  background-color: #ddd;
  color: black;
  transition: 1.5s ease;
}

.header a.active {
  background-color: #2B75CC;
  color: white;
}

.header-right {
  float: right;
  
}

#csv{
  float:right;
}
/* .rss-feed{
  display: flex;
  flex-wrap: wrap;
  
} */


#right-button{
  margin-left: 0.7vw;
  font-size: 1.5vw;
  border: double 4px transparent;
  border-radius: 12px;
  background: linear-gradient(155deg,#B0C1E3,#82A7F1,#3498db);
}

#poll-div{
  padding: 2%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

#poll-border{
  display: block;
    max-width: 100%;
    position: absolute;
    bottom:2%;
    right:1%;
    left:80%;
   border: double 4px transparent;
  border-radius: 20px;
  background: linear-gradient(155deg,#B0C1E3,#82A7F1,#3498db);
  background-origin: border-box;
  background-clip: content-box, border-box;
  
}

#poll-border h3{
  font-style: oblique;
  text-align: center;
  padding: 2%;
}


#poll{
  align-items: center;
  justify-content: center;
}

#poll-border h2{
  padding-left: 5%;
}

#poll-border form{
  padding: 2%;
}

.rss-feed{
  width:10%;
  position:absolute;
  right:0vw;
}

.topnav {
  overflow: hidden;

}

.topnav .search-container {
     left: 25%;
}

.topnav input[type=text] {
  padding: 10px;
  font-size: 17px;
  border:1px solid #4A8FE1;
  width: 80%;
  font-style: oblique;
    background: linear-gradient(155deg,#B0C1E3,#82A7F1,#3498db);
    float:left;
      border-radius: 50px;

 
 
}

.topnav .search-container button {
  
    color: #C2D5D9;
    border : 1px solid #387FD5;
    border-radius: 50px;
    background-color: #387FD5;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    padding: 8.2px;
    width: 20%;
    cursor: pointer;
    border-left: none;
    float: left;

}


.topnav .search-container button:hover {
  background: #2EA844;
  transition: 1.0s ease;
}

.description-checkbox{
  position: relative;
  left:0%;
  font-size:1vw;
}

.criteria{
  position:relative;
  width: 100%;
  height: auto;
  display: flex

}

.order-criteria{
  position:relative;
  margin-top:5%;
  left:5%;
  width: 100%;
}

#order{
  font-size: 1vw;
  background: linear-gradient(155deg,#B0C1E3,#82A7F1,#3498db);
  border-radius: 5px;
  border-color:#82A7F1;

}

.order-option{
  font-size: 1vw;
}


.author-input{
background-color: #387FD5;
border-color:#82A7F1;
  border-radius: 5px;}

.author-criteria{
  position: relative;
  margin-top:5%;
  left:5%;
  width: 30%;
}

.author-criteria #author-text{
  margin-left:0%;
  font-size:1vw;
}

::placeholder { /* text Youtube channel */
  color: black;
  opacity: 1; 
}

.sources{
  bottom:0px;
  display: flex;
  width: 100%;
}

#insta{
  display: block;
    max-width: 100%;
    position: absolute;
    bottom:0;
    left:5%;
    transform:translateX(-50%);
}

#yt{
  display: block;
    max-width: 100%;
    position: absolute;
    bottom:0;
    left:30%;
    transform:translateX(-50%);
}

#vimeo{display: block;
  max-width: 100%;
  position: absolute;
  bottom:0;
  left:60%;
  transform:translateX(-50%);}

@media screen and (max-width: 500px) {

  .sources{
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  /* .header-right{
    font-size: 1.5vw;
  } */

  #right-button{
    font-size: 1.5vw;
    padding: 6px;
  }

  #submit-button{
  display: block;
  max-width: 150px;
  margin: auto;
}

  #poll-border{
    transform:translateX(0%);
    position: relative;
    left:0;
    text-align: center;
  }

  #poll-border h3{
    font-style: oblique;
    font-size: 4.5vw;
  }

  #poll-border h2{
    font-style: oblique;
    font-size: 4.5vw;
  }

  #poll-border form{
    font-size: 4.5vw;
  }

  #poll-border td{
    font-size: 4.5vw;
  }

  #insta{
    transform:translateX(0%);
    position: relative;
    left:0;
    text-align: center;
  }

  #insta_img {
    width: 30%;
  }

  #yt_img{
    width: 30%;
  } 
  #vimeo_img{
    width: 30%;
  }

  #yt{
    transform:translateX(0%);
    position: relative;
    left:0;
    text-align: center;
  }

  #vimeo{
    transform:translateX(0%);
    position: relative;
    left:0;
    text-align: center;
  }


  .header a {
    display: block;
    text-align: left;
    font-size: 15px;
  }

  .search_text{

     text-decoration: none;
  font-size: 15px;
  width: 15%;
  }


  .topnav .search-container {
    float: none;

  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: center;
    font-size: 4.5vw;
    width: 100%;
    margin: 0;
    padding:1vw;


  }
  .topnav input[type=text] {
    border: 1px solid #ccc; 
    font-size: 5vw; 
  }

.criteria{
  width: 100%;
  text-align: center;
  display: inline-block;
  left:0px;
  }
  
  .author-criteria{
  text-align: center;
  position:relative;
  margin-top:5%;
  left:30.5%;
  width: 40%;
}

.author-criteria #author-text{
  margin-left:0%;
  font-size:4.5vw;
}

.order-criteria{
  position:relative;
  margin-top:5%;
  left:0%;
  width: 100%;
}

#order{
  font-size: 4.5vw;
}

.order-option{
  font-size: 4.5vw;
}

.order-criteria #tags-text{
  margin-left:0%;
  width:23%;
  font-size:4.5vw;
} 

}



