
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-decoration: none;
  font-family:'Times New Roman', Times, serif;
	font-size:36px;
}

body {
  min-width: 300px;
  
  background:linear-gradient(233deg,#3179A8, #4329C6, #3179A8);
  overflow-x: hidden;
  
  background-position: center center;
  

  
  background-attachment: fixed;

  background-size: cover;

  background-color: #464646;

  background-repeat: no-repeat;
}


#logo{
	position: absolute;
	top:0px;
	left:0px;
}

.goto-index{
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-again-button{
  background-color: #2B75CC;
  
  color: black;
  padding: 15px 12px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#search-again-button:hover{
  background-color: #4CAF22;
  transition: 1.0s ease;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#youtube-title{
  text-align: center;
}

#youtube_videos{
  padding: 5%;
  display:flex;
}
#vimeo_videos{
  display:flex;
}
#instagram_videos{
  display:flex;
}

.youtube-video{
  flex: 1;
}

.vimeo-video{
  flex: 1;
}

.instagram-video{
  flex: 1;
}

#vimeo-title{
  text-align: center;
}
#instagram-title{
  text-align: center;
}

@media screen and (max-width: 500px){

  .rss-feed{
    width: 30%;
  }
  

  #youtube_videos{
   display: inline-block;
   
 }
 #vimeo_videos{
  display: inline-block;
}
#instagram_videos{
  display: inline-block;
}

  .youtube-video{
    padding: 0;
    position: relative;
    left:3%;
  }

  .vimeo-video{
    padding: 0;
    position: relative;
    left:7%;
  }

  .instagram-video{
    position: relative;
    left:7%;
  }

}




